<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <style>
        .navbar-nav {
            margin: auto;
        }
    </style>
</head>
<body>
    
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./Theory.html">Theory</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="./About.html">About</a>
                    </li>
                   
                </ul>
            </div>
        </nav>
    </div>
    <div class="container">
        <div class="container">
            <div class="top" >&nbsp;
               <h1 align="center">Edmonds-Karp Algorithm</h1>
               <h2 align="center">About</h2>
           </div>
           <div class="content" id="theory">
           This website was developed as a Msc project while taking the following course: <br><br>
           <table>
             <tr>
               <td>University:</td>
               <td>University of leeds</td>
             </tr>
             <tr>
               <td>Course:</td>
               <td>Msc Project </td>
             </tr>
             <tr>
               <td>Year:</td>
               <td>2024</td>
             </tr>
             <tr>
               <td>Project Author:</td>
               <td>Shubham Dubey</td>
             </tr>
           </table> 
           </div>
         </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
